body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: white;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: stretch; /* key to making children fill vertical space */
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav li {
    margin: 0;
    height: 100%;
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: purple;
    text-decoration: none;
    font-size: 18px;
    padding: 0 60px;
}

.nav li:first-child a {
    border-left: 1px solid darkgrey;
}
.nav a {
    border-right: 1px solid darkgrey;
    border-top: none;
    border-bottom: none;
}
.nav a:hover {
    background-color: rgb(202, 201, 201);
    color: rgb(78, 0, 78);
}




.content {
  width: 100%;
  min-height: 100vh;
}





/*Heart section index*/

.heart-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    height: calc(100vh - 50px); /* Adjust height to account for header */
}

.index .heart-section{
    height: calc(200vh - 50px); /* Adjust height to account for header */
    max-height: 2000px;
}

.heart {
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    transform: rotate(-45deg);
    z-index: 1;
}
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
}
.heart::before {
    top: -100px;
    left: 0;
}
.heart::after {
    left: 100px;
    top: 0;
}

.papers {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.papers img {
    display: flex;
    width: 50%;
    min-width: 600px;
    justify-content: center;
    opacity: 0.95;
}




/*Image section 2 index*/
.index-image-2 {
    position: relative;
    width: 100%; 
    height: 200vh;
    max-height: 2000px;
    background-image: url('images/castle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
    justify-content: center;
}

.images-2 {
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}

.images-2 img {
    width: 80%;
    min-width: 600px;
}

/*Image section 3 index*/

.index-image-3 {
    position: relative;
    width: 100%; 
    height: 150vh;
    background-image: url('images/mega-love.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}

.images-3 {
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
    animation: fly 2s infinite;
}

.images-3 img {
    width: 10%;
}

@keyframes fly {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}




/* temporarry */
.text {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 30px;
    font-weight: bold;
    color: purple;
    z-index: 1; /* Bring text to front */
    text-transform: capitalize;
    text-align: center;
}




/*origins page sepcifics  */

.origins-page .text {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 30px;
    font-weight: bold;
    color: purple;
    z-index: 1; /* Bring text to front */
    text-transform: capitalize;
    text-align: center;
}


@keyframes pulse {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}

.origins-page .heart {
    animation: pulse 1s infinite;
}
